/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #f8e7e1;
  font: 13.34px 'Gilda Display', Georgia, serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Permanent Marker', sans-serif;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a,
a:hover,
a:visited {
  color: #cc0077;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

hr {
  border: 0;
  height: 5px;
  border-radius: 1px;
  background: #000;
}

/*font-family: 'Permanent Marker', cursive;
font-family: 'Gilda Display', serif;*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: left;
  line-height: 1.5em;
}

.site footer {
  font-size: 80%;
  margin-top: 2em;
  padding: 2em 0;
  overflow: hidden;
  clear: both;
}

.site footer .contact {
  float: left;
  margin-right: 3em;
}

.site footer .contact a {
  color: #8085C1;
}

.site footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
nav {
  float: right;
  padding-top: 5.15em;
}

nav a,
nav a:visited,
nav a:hover {
  color: #000;
}

/*****************************************************************************/
/*
/* Intro
/*
/*****************************************************************************/
.site .intro {
  padding: 2.5em 0 2em;
  overflow: hidden;
  display: inline-block;
}

.site .intro a {
  display: block;
  background: url(../assets/site/logo.png) no-repeat 0 0;
  background: url(../assets/site/logo.svg) no-repeat;
  width: 35px;
  height: 56px;
  overflow: hidden;
  text-indent: -9999px;
  background-size: 35px 56px;
}

.site .intro p {
  width: 23em;
  float: left;
  font-family: 'Asap', sans-serif;
}

.site p {
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;

}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


.site {
    width: 1000px;
    margin: 0 auto;
}

ul,
ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font: 11px 'Gilda Display', Georgia, serif;;
    margin: 0;
}

img {
    display: inline-block;
    vertical-align: top;
}

.projects > li {
    position: relative;
    overflow: hidden;
    padding: 0 0 3.5em;
}

.projects hr {
    margin-bottom: 3.5em;
}

ul.caption {
    float: left;
    padding-right: 2em;
    width: 200px;
}

ul.caption h3 {
  font-size: 20px;
  line-height: 20px;
  /*padding-bottom: 15px;*/
  font-family: 'Gilda Display';
  /*margin-bottom: 30px;*/
  display: inline-block;
}

ul.caption li {
  padding-bottom: 20px;
}

.caption date {
  display: block;
/* font-style: italic; */
/* font-family: georgia; */
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -5px;
}

h3 {
  position: relative;
}

.url a {
  font-style: italic;
  text-transform: lowercase;
  font-family: georgia;
  letter-spacing: .5px;
  font-size: 14px;
}

/*h3:after {
  content: '';
  position: absolute;
  background-repeat: repeat;
  z-index: -1;
}

h3:after {
  background:
    linear-gradient(135deg, transparent, transparent  75%, #000 75%, #000),
    linear-gradient(225deg, transparent, transparent  75%, #000 75%, #000),
    linear-gradient(45deg, transparent, transparent  75%, #000 75%, #000),
    linear-gradient(315deg, transparent, transparent  75%, #000 75%, #000);
  background-position: 0.25em 0.25em, 0.25em 0.25em, 0 0.25em, 0 0.25em;
  background-size: .5em .5em;
  height: .5em;
  width: 100%;
  bottom: 0;
  left: 0;
}*/

.device.ipad,
.device.iphone {
  display: inline-block;
  margin-left: 70px;
}

.device.ipad:first-child,
.device.iphone:first-child {
  margin-left: 0;
}

.device.ipad-scroll .wrapper {
  width: 635px;
  height: 438px;
  overflow-y: auto;
}

.device.ipad {
  background: url(../assets/site/ipad-black.png);
  width: 770px;
  height: 543px;
  padding: 73px 66px 33px;
}

.device.ipad.ipad-video {
  padding-top: 32px;
  padding-left: 67px;
}

.device.ipad .screenshot {
  width: 636px;
  height: 438px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: #000;
}

.device.iphone  {
  background: url(../assets/site/iphone-black.png);
  width: 300px;
  height: 592px;
  padding: 121px 0 0 24px;
}

.device.iphone .screenshot {
  width: 255px;
  height: 365px;
  overflow: hidden;
}

.screenshots {
  float: right;
  width: 770px;
  overflow-x: auto;
}

.makr-shakr .screenshots .images {
  width: 2545px;
}
.makr-shakr .device.iphone:first-child .screenshot {
  background: url(../assets/makr-shakr/intro.png);
}
.makr-shakr .device.iphone:nth-child(2) .screenshot {
  background: url(../assets/makr-shakr/ingredients.png);
}
.makr-shakr .device.iphone:nth-child(3) .screenshot {
  background: url(../assets/makr-shakr/ingredients-added.png);
}
.makr-shakr .device.iphone:nth-child(4) .screenshot {
  background: url(../assets/makr-shakr/directions.png);
}
.makr-shakr .device.iphone:nth-child(5) .screenshot {
  background: url(../assets/makr-shakr/action.png);
}
.makr-shakr .device.iphone:nth-child(6) .screenshot {
  background: url(../assets/makr-shakr/name.png);
}
.makr-shakr .device.iphone:nth-child(7) .screenshot {
  background: url(../assets/makr-shakr/ready.png);
}

.moon .device.ipad {
  background: url(../assets/site/ipad-black.png),
              url(../assets/moon/ipad-address-bar.png) 67px 33px no-repeat;
}
.moon .screenshots .images {
  width: 3310px;
}
.moon .device:first-child .screenshot {
  background-image: url(../assets/moon/moon-full.png);
}
.moon .device:nth-child(2) .screenshot {
  background-image: url(../assets/moon/detail.png);
}
.moon .device:nth-child(3) .screenshot {
  background-image: url(../assets/moon/drawing-tool.png);
}
.moon .device:nth-child(4) .screenshot {
  background-image: url(../assets/moon/particles.png);
}

.nybg .device.ipad {
  background: url(../assets/site/ipad-black.png),
              url(../assets/nybg/ipad-address-bar.png) 67px 33px no-repeat;
}
.nybg .screenshots .images {
  width: 4180px;
}
.nybg .device:first-child .screenshot {
  background-image: url(../assets/nybg/plant-map.png);
}
.nybg .device:nth-child(2) .screenshot {
  background-position: .5px 0;
  background-image: url(../assets/nybg/plant-detail.png);
}
.nybg .device:nth-child(3) .screenshot {
  background-image: url(../assets/nybg/wildlife.png);
}
.nybg .device:nth-child(4) .screenshot {
  background-image: url(../assets/nybg/map.png);
}
.nybg .device:nth-child(5) .screenshot {
  background-position: 1px 0;
  background-image: url(../assets/nybg/bird-detail.png);
}

.scribd .device.ipad {
  background: url(../assets/site/ipad-black.png),
              url(../assets/scribd/ipad-address-bar.png) 67px 33px no-repeat;
  padding-left: 67px;
}
.scribd .device:first-child .screenshot {
  background-image: url(../assets/scribd/blog.jpg);
  width: 635px;
  height: 3541px;
}

.svb .device.ipad {
  background: url(../assets/site/ipad-black.png),
              url(../assets/svb/ipad-address-bar.png) 67px 33px no-repeat;
  padding-left: 67px;
}
.svb .device:first-child .screenshot {
  background-image: url(../assets/svb/ipad-layout-1.jpg);
  width: 635px;
  height: 2291px;
}

.reuters-next .screenshots .images {
  width: 1630px;
}

.scripto .device.ipad {
  background: url(../assets/site/ipad-black.png),
              url(../assets/scripto/ipad-address-bar.png) 67px 33px no-repeat;
  padding-left: 67px;
}

.scripto .device:first-child .screenshot {
  background-image: url(../assets/scripto/screenshot.png);
}

.about-me {
    padding: 3em 0;
}

.about-me p {
    padding: 0 .5em 2em;
}

.about-me .photo {
    float: left;
    margin-right: 3em;
}
.about-me .photo img {
    width: 350px;
    margin-bottom: .5em;
}

.about-me .photo .credit {
    font-style: italic;
    font-size: .8em;
    padding-left: 0;
}
.social-media {
  text-align: right;
}
.social-media a {
  color: #000;
  font-size: 1.75em;
}